{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_index.css' %}" />

<html>
  <head>
    <title>Welcome to KopiDarat</title>
  </head>
  <body>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h1>Hello {{full_name}}!</h1>
    <h2>Welcome to the administrator view of KopiDarat!</h2>
    <div class="row-wrapper">
      <a href="/admin_user"> Users </a>
      <a href="/admin_inactive_users"> Inactive Users </a>
      <a href="/admin_activity"> Activities </a>
      <a href="/admin_review"> Reviews </a>
      <a href="/admin_report"> Reports </a>
      <a href="logout"> Logout </a>
    </div>
    <div class="wrapper">
    <div class="content-table">
    <h3> Top 5 active users </h3>
    <table>
      <thead>
        <th> Username </th>
        <th> Joined Activities </th>
      </thead>
      {% for user in list_of_active_users %}
      <tr>
        <td>{{ user.0 }}</td>
        <td>{{ user.1 }}</td>
      </tr>
      {% endfor %}
    </table>

  <h3> Top 5 reviewed activities </h3>
    <table>
      <thead>
        <th> Activity ID </th>
        <th> Activity Name </th>
        <th> Number of Reviews </th>
      </thead>
      {% for review in list_of_reviewed_activities %}
      <tr>
        <td>{{ review.0 }}</td>
        <td>{{ review.1 }}</td>
        <td>{{ review.2 }}</td>
      </tr>
      {% endfor %}
    </table>
  </br>
  <h3> Top 5 rated activities </h3>
  <table border=1>
    <thead>
      <th> Activity ID </th>
      <th> Activity Name </th>
      <th> Number of Reviews </th>
    </thead>
    {% for review in list_of_rated_activities %}
    <tr>
      <td>{{ review.0 }}</td>
      <td>{{ review.1 }}</td>
      <td>{{ review.2 }}</td>
    </tr>
    {% endfor %}
  </table>
</br>
  <h3> Top 5 most reported users (with severity Medium or higher) </h3>
    <table>
      <thead>
        <th> Username </th>
        <th> Number of Reports </th>
      </thead>
      {% for user in list_of_user_reports %}
      <tr>
        <td>{{ user.0 }}</td>
        <td>{{ user.1 }}</td>
      </tr>
      {% endfor %}
    </table>
  
  </body>
</html>
