{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'admin_user_create.css' %}"
/>
<html>
  <head>
    <title>Create User</title>
  </head>
  <body>
    <div class="container">
      <div class="form-wrap">
        <h2>Create new user</h2>
        <a href="admin_user">Back to list of users</a>
        <br/>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
    <form action="{% url 'admin_user_create' %}" method="post">
      {% csrf_token %}
      <h4>Full Name</h4>
      <div class="form-group">
        <input
          class="form-control"
          autofocus
          type="text"
          name="full_name"
          placeholder="Full Name"
        />
      </div>
      <h4>Username</h4>
      <div class="form-group">
        <input
          class="form-control"
          autofocus
          type="text"
          name="username"
          placeholder="Username"
        />
      </div>
      <h4>Email Address</h4>
      <div class="form-group">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email Address"
        />
      </div>
      <h4>Phone Number</h4>
      <div class="form-group">
        <input
          class="form-control"
          type="tel"
          name="phone_number"
          placeholder="Phone Number"
        />
      </div>
      <h4>Password</h4>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <h4>User Type</h4>
      <div class="form-group">
        <select id="type" name="type">
          <option value="member">member</option>
          <option value="administrator">administrator</option>
        </select>
      </div>
      <input class="btn btn-primary" 
      type="submit" 
      value="Create User" />
    </form>
    </div>
  </div>
  </body>
</html>
